@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply outline-none;
  }
}

/* Fonts */
@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Medium.woff") format("woff"),
    url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-SemiBold.woff") format("woff"),
    url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-ExtraBold.woff") format("woff"),
    url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/Montserrat-Black.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Black.woff") format("woff"),
    url("./assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Light Theme */
html[data-theme="light"] {
  --primary-bg: #ffffff;
  --secondary-bg: #f3f2f2;
  --black-bg: #161515;
  --dark-bg: #323031;
  --secondary-dark-bg: #3c3a3b;
  --our-mision-bg: #161515;
  --lets-talk-bg: #f3f2f2;
  --theme-toggle-bg: #f3f2f2;
  --nav-menu-bg: #fff;
  --backdrop-bg: #3c3a3b99;
  --form-field-bg: #ffffff;
  --field-border: #ffffff;
  --scroll-thumb-color: #7f7f7f;
  --slider-bg: #ffffff;

  --main-text: #323031;
  --secondary-text: #74716f;
  --white-text: #ffffff;
  --secondary-light-text: #c1bebf;
  --placeholder-text: #ada9a6;

  --accent-red: #fc561d;
  --accent-yellow: #f8b332;
  --accent-orange: #fa7b26;
  --theme-accent-color: #fc561d;
  --inverse-color: #161515;
  --error-color: #ff4343;

  --dark-border: #161515;
  --grey-600: #74716f;
  --disabled-btn: #c1bebf;

  --theme-toggle-translate: 5px;
}

/* Dark Theme */
html[data-theme="dark"] {
  --primary-bg: #161515;
  --secondary-bg: #161515;
  --black-bg: #161515;
  --dark-bg: #323031;
  --secondary-dark-bg: #3c3a3b;
  --our-mision-bg: #323031;
  --lets-talk-bg: #323031;
  --theme-toggle-bg: #3c3a3b;
  --nav-menu-bg: #323031;
  --backdrop-bg: #3c3a3b99;
  --form-field-bg: #3c3a3b;
  --field-border: #eae9ea;
  --scroll-thumb-color: #a3a3a3;
  --slider-bg: #323031;

  --main-text: #ffffff;
  --secondary-text: #c1bebf;
  --white-text: #ffffff;
  --secondary-light-text: #c1bebf;
  --placeholder-text: #ada9a6;

  --accent-red: #fc561d;
  --accent-yellow: #f8b332;
  --accent-orange: #fa7b26;
  --theme-accent-color: #f8b332;
  --inverse-color: #ffffff;
  --error-color: #ff4343;

  --dark-border: #c1bebf;
  --grey-600: #74716f;
  --disabled-btn: #74716f;

  --theme-toggle-translate: 27.5px;
}

body {
  @apply min-h-screen bg-primaryBgColor font-montserrat leading-6 text-mainTextColor;
}

#root {
  @apply flex min-h-screen flex-col;
}

main {
  @apply grow-[1];
}

h1 {
  @apply text-[70px] font-extrabold leading-[92px] transition;
}

h2 {
  @apply text-[40px] font-extrabold leading-[54px] transition;
}

h3 {
  @apply text-[24px] font-semibold leading-[36px] transition;
}

h4 {
  @apply text-[20px] font-extrabold leading-[30px] transition;
}

h5 {
  @apply text-[18px] font-extrabold leading-[28px] transition;
}

h6 {
  @apply text-[20px] font-normal leading-[36px] transition;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--form-field-bg) inset;
  box-shadow: 0 0 0px 1000px var(--form-field-bg) inset;
  -webkit-text-fill-color: var(--main-text) !important;
  caret-color: var(--main-text);
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--form-field-bg) inset;
  box-shadow: 0 0 0px 1000px var(--form-field-bg) inset;
  -webkit-text-fill-color: var(--main-text) !important;
  caret-color: var(--main-text);
}

.big-text {
  @apply text-[18px] font-normal leading-[30px] transition;
}

.small-text {
  @apply text-[16px] font-normal leading-[24px] transition;
}

.bold-text {
  @apply text-[16px] font-semibold leading-[26px] transition;
}

.label {
  @apply text-[12px] font-medium leading-[20px] transition;
}

.modal .label {
  @apply text-mainTextColor;
}

.form-field {
  @apply border border-solid bg-formFieldBgColor px-[20px] py-[10px] font-montserrat text-[12px] font-medium leading-[20px] outline-none transition;
}

.modal .form-field {
  @apply border-transparent;
}

.error {
  @apply absolute left-[20px] text-[12px] font-medium leading-[20px] text-errorColor;
}

.transition {
  @apply transition-all duration-300 ease-in;
}

.header .active,
.footer .active {
  @apply border-b border-themeAccentColor text-themeAccentColor;
}

.footer .active {
  @apply border-accentYellowColor text-accentYellowColor;
}

.submenu .active {
  @apply border-none underline;
}

.react-switch-bg {
  @apply shadow-[inset_0_1px_3px_rgba(0,0,0,0.15)];
}

.react-switch-handle {
  @apply !translate-x-themeToggleTranslate;
}

.react-slider-thumb {
  transition:
    left 0.15s ease-in,
    width 0.3s ease-in,
    height 0.3s ease-in;
}

.view-link {
  @apply relative transition-all before:absolute before:bottom-0 before:left-0 before:h-[1.5px] before:w-0 before:bg-accentRedColor before:duration-300 before:ease-in hover:before:w-full focus-visible:before:w-full;
}

.scale-on-hover {
  @apply transform transition-transform duration-500 group-hover:scale-110 group-focus-visible:scale-110;
}

.our-services-bg {
  @apply bg-[length:508px_633px] bg-[position:bottom_0_right_calc(50%-345px)] bg-no-repeat;
  background-image: url("./assets/images/services/our-services_desk@1x.webp");
}

.parallax-bg {
  @apply bg-cover bg-[position:center_0] bg-no-repeat;
  background-image: url("./assets/images/services/parallax_desk@1x.webp");
}
.services-case-study {
  @apply relative before:absolute before:left-1/2 before:top-[-80px] before:h-[1px] before:w-full before:max-w-[1280px] before:-translate-x-1/2 before:bg-mainTextColor before:content-[''] after:mt-[25px] after:block after:h-[486px] after:w-full after:rounded-[20px] after:bg-cover after:bg-[position:center_0] after:bg-no-repeat after:content-[''];
}
.services-case-study::after {
  background-image: var(--services-case-study-bg-image1x);
}

@media (min-resolution: 1.5dppx), (min-device-pixel-ratio: 2) {
  .our-services-bg {
    background-image: url("./assets/images/services/our-services_desk@2x.webp");
  }
  .parallax-bg {
    background-image: url("./assets/images/services/parallax_desk@2x.webp");
  }
  .services-case-study::after {
    background-image: var(--services-case-study-bg-image2x);
  }
}

.submenu {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.15s ease,
    visibility 0.15s ease;
}

.header .submenu.visible {
  opacity: 1;
  visibility: visible;
}

.scrollbar {
  --thumb-color: var(--scroll-thumb-color);
  --track-color: transparent;
  overflow: auto;
  scrollbar-color: auto !important;
}

/* Firefox */
@-moz-document url-prefix() {
  .scrollbar {
    scrollbar-width: auto;
    scrollbar-color: var(--thumb-color) var(--track-color) !important;
  }
}

/* Chrome, Safari, Edge */
@supports selector(::-webkit-scrollbar) {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--track-color);
    border-radius: 8px;
    margin-block: 16px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--thumb-color);
    border-radius: 8px;
  }
}

.grid-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px 40px;
  grid-template-areas:
    ". item-1 item-2"
    "item-3 item-4 item-5";
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
}

.empty-cell {
  grid-area: auto;
  visibility: hidden;
}

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
}

.accordion-details[open] {
  padding-bottom: 0;
}

.accordion-details[open] + .accordion-content {
  grid-template-rows: 1fr;
  padding-bottom: 25px;
  margin-top: 10px;
}

.accordion-icon {
  transition:
    visibility 0.4s ease,
    transform 0.4s ease,
    fill 0.3s ease-in;
}

.accordion-details .accordion-icon-minus,
.accordion-details[open] .accordion-icon-plus {
  opacity: 0;
  visibility: hidden;
}

.accordion-details .accordion-icon-plus,
.accordion-details[open] .accordion-icon-minus {
  opacity: 1;
  visibility: visible;
}

.accordion-details[open] .accordion-icon {
  transform: rotate(180deg);
}
