@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Medium.woff") format("woff"),
    url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-SemiBold.woff") format("woff"),
    url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-ExtraBold.woff") format("woff"),
    url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Light Theme */
html[data-theme="light"] {
  --primary-bg: #ffffff;
  --secondary-bg: #f3f2f2;
  --black-bg: #161515;
  --dark-bg: #323031;
  --our-mision-bg: #161515;
  --theme-toggle-bg: #f3f2f2;

  --main-text: #323031;
  --secondary-text: #74716f;
  --white-text: #ffffff;
  --secondary-light-text: #c1bebf;

  --accent-red: #fc561d;
  --accent-yellow: #f8b332;
  --accent-orange: #fa7b26;
  --navlink-active-color: #fc561d;

  --grey-600: #74716f;

  --theme-toggle-translate: 5px;
}

/* Dark Theme */
html[data-theme="dark"] {
  --primary-bg: #161515;
  --secondary-bg: #161515;
  --black-bg: #161515;
  --dark-bg: #323031;
  --our-mision-bg: #323031;
  --theme-toggle-bg: #323031;

  --main-text: #ffffff;
  --secondary-text: #c1bebf;
  --white-text: #ffffff;
  --secondary-light-text: #c1bebf;

  --accent-red: #fc561d;
  --accent-yellow: #f8b332;
  --accent-orange: #fa7b26;
  --navlink-active-color: #f8b332;

  --grey-600: #74716f;

  --theme-toggle-translate: 27.5px;
}

body {
  @apply min-h-screen bg-primaryBgColor font-montserrat leading-6 text-mainTextColor;
}

#root {
  @apply flex min-h-screen flex-col;
}

main {
  @apply grow-[1];
}

h1 {
  @apply text-[70px] font-extrabold leading-[92px];
}

h2 {
  @apply text-[40px] font-extrabold leading-[54px];
}

h3 {
  @apply text-[24px] font-semibold leading-[36px];
}

h4 {
  @apply text-[20px] font-extrabold leading-[30px];
}

h5 {
  @apply text-[18px] font-extrabold leading-[28px];
}

h6 {
  @apply text-[20px] font-normal leading-[36px];
}

.big-text {
  @apply text-[18px] font-normal leading-[30px];
}

.small-text {
  @apply text-[16px] font-normal leading-[24px];
}

.bold-text {
  @apply text-[16px] font-semibold leading-[26px];
}

.label {
  @apply text-[12px] font-semibold leading-[20px];
}

.transition {
  @apply transition-all duration-300 ease-in;
}

.active {
  @apply border-b border-navlinkActiveColor text-navlinkActiveColor;
}

.react-switch-bg {
  @apply shadow-[inset_0_1px_3px_rgba(0,0,0,0.15)];
}

.react-switch-handle {
  @apply !translate-x-themeToggleTranslate;
}

.view-link {
  @apply relative transition before:absolute before:bottom-0 before:left-0 before:h-[1.5px] before:w-0 before:bg-accentRedColor before:transition-all hover:before:w-full;
}

.scale-on-hover {
  @apply transform transition-transform duration-500 group-hover:scale-110;
}
